<a href="https://colab.research.google.com/github/felpsbc/Data_Science_Monitoria/blob/main/C%C3%B3pia_de_casas_aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.# Bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

> Importando o DataSet

[Link para o DataSet](https://www.kaggle.com/datasets/rubenssjr/brasilian-houses-to-rent/data)

In [ ]:
from google import colab
colab.drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DATASETS/houses_to_rent_v2.csv') # Cole o coaminho para seu dataframe

# Pré-Processamemto

**Etapas:**
- 1 - Visualização
- 2 - Renomeação de Colunas
- 3 - Imputação(Valores Faltando)
- 4 - Tratamento de Textos
- 5 - Normalização/Padronização

## Visualização

In [ ]:
# Informações gerais sobre o DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

In [ ]:
# Resumo estatístico das colunas numéricas
df.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06

In [ ]:
# Verificar valores ausentes
df.isnull().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

## Imputação

Decisões:
- Média
  - Desvio Padrão
- Moda
- Mediana

- Remoção Total: Remoção de todos os valores faltantes, importante para colunas inuteis.

In [ ]:
df['floor'].value_counts()

floor
-      2461
1      1081
2       985
3       931
4       748
5       600
6       539
7       497
8       490
9       369
10      357
11      303
12      257
13      200
14      170
15      147
16      109
17       96
18       75
19       53
20       44
21       42
25       25
23       25
22       24
26       20
24       19
27        8
28        6
29        5
32        2
35        1
46        1
301       1
51        1
Name: count, dtype: int64

In [ ]:
# Trocando string por null
df['floor'] = df['floor'].replace('-', np.nan)

# Decisão de remover valores faltantes
df.dropna(subset=['floor'], inplace=True)

df.isnull().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8231 entries, 0 to 10690
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 8231 non-null   object
 1   area                 8231 non-null   int64
 2   rooms                8231 non-null   int64
 3   bathroom             8231 non-null   int64
 4   parking spaces       8231 non-null   int64
 5   floor                8231 non-null   object
 6   animal               8231 non-null   object
 7   furniture            8231 non-null   object
 8   hoa (R$)             8231 non-null   int64
 9   rent amount (R$)     8231 non-null   int64
 10  property tax (R$)    8231 non-null   int64
 11  fire insurance (R$)  8231 non-null   int64
 12  total (R$)           8231 non-null   int64
dtypes: int64(9), object(4)
memory usage: 900.3+ KB

In [ ]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

## Tratando colunas

> Em alguns casos, por questões de praticidade, a renomeação de colunas pode ser uma etapa a se considerar no pré-processamento

Por exemplo, é muito mais simples escrever `total` ao invés de `total (R$)`

In [ ]:
import re # biblioteca para uso de regex

# Façam uma lista com as colunas a serem removido os elementos '(R$)'
colunas = ['hoa (R$)'	'rent' 'amount'	'property' 'tax'	'fire' 'insurance'	'total']

for coluna in colunas:
    novo_nome = re.sub(r'[R$()]+', '', coluna)
    df.rename(columns={coluna : novo_nome}, inplace=True)

# Imprima as colunas

- Normalmente utilizamos regex para remoção de caracteres específicos em uma string.

- `[]` informa o conjunto de caracteres a ser substituido
- `R$()` são os nossos alvos
- `+` informa a substituição de uma ou mais ocorrências

In [ ]:
# Imprima o resultado com a cabeça do DataFrame
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

## Lidando com texto

> Por que categorizar dados?

A técnica mais usada é chamada **Label Encoding**, esta técninca envolve categorizar valores não numéricos, por exemplo:

`homem = 1` e `mulher = 0`

In [ ]:
# identificação da coluna
df[['animal', 'furniture']].value_counts()

animal     furniture
acept      not furnished    4771
           furnished        1552
not acept  not furnished    1208
           furnished         700
Name: count, dtype: int64

In [ ]:
# Categorozação da coluna animais e furniture
df['animal'].replace({'acept': 1, 'not acept': 0}, inplace=True)

# Faça o mesmo com a coluna 'furniture'
df['furniture'].replace({'acept': 1, 'not acept': 0}, inplace=True)

- 0 : Não
- 1 : Sim

- Transformando coluna floor em inteiro

In [ ]:
# Complete o código abaixo transformando a coluna 'floor' em númerico
df['floor'] = df['floor'].astype(int)

In [ ]:
df.dtypes

city                   object
area                    int64
rooms                   int64
bathroom                int64
parking spaces          int64
floor                   int64
animal                  int64
furniture              object
hoa (R$)                int64
rent amount (R$)        int64
property tax (R$)       int64
fire insurance (R$)     int64
total (R$)              int64
dtype: object

In [ ]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,1,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,1,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,1,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,1,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,0,not furnished,0,800,25,11,836

# Exportando o DataFrame

> Com o DataFrame limpo, agora podemos exportar o mesmo para as etapas de visualização e modelagem.

In [ ]:
df.to_csv('casas_limpo.csv', index=False)